.idea/
apzkr-pzpi-21-11-milennyi-ivan/.idea/
#Task1-Server
apzkr-pzpi-21-11-milennyi-ivan/Task1-Server/target/
apzkr-pzpi-21-11-milennyi-ivan/Task1-Server/Cargo.lock
apzkr-pzpi-21-11-milennyi-ivan/Task1-Server/logs/
apzkr-pzpi-21-11-milennyi-ivan/Task1-Server/.idea/
#Task2-IoT
apzkr-pzpi-21-11-milennyi-ivan/Task2-IoT/target/
apzkr-pzpi-21-11-milennyi-ivan/Task2-IoT/Cargo.lock
apzkr-pzpi-21-11-milennyi-ivan/Task2-IoT/.idea/
#Task4
apzkr-pzpi-21-11-milennyi-ivan/Task3-WebClient/logs
apzkr-pzpi-21-11-milennyi-ivan/Task3-WebClient/*.log
apzkr-pzpi-21-11-milennyi-ivan/Task3-WebClient/npm-debug.log*
apzkr-pzpi-21-11-milennyi-ivan/Task3-WebClient/yarn-debug.log*
apzkr-pzpi-21-11-milennyi-ivan/Task3-WebClient/yarn-error.log*
apzkr-pzpi-21-11-milennyi-ivan/Task3-WebClient/pnpm-debug.log*
apzkr-pzpi-21-11-milennyi-ivan/Task3-WebClient/lerna-debug.log*
#apzkr-pzpi-21-11-milennyi-ivan/Task3-WebClient/node_modules
apzkr-pzpi-21-11-milennyi-ivan/Task3-WebClient/dist
apzkr-pzpi-21-11-milennyi-ivan/Task3-WebClient/dist-ssr
apzkr-pzpi-21-11-milennyi-ivan/Task3-WebClient/*.local
apzkr-pzpi-21-11-milennyi-ivan/Task3-WebClient/.vscode/*
apzkr-pzpi-21-11-milennyi-ivan/Task3-WebClient/!.vscode/extensions.json
apzkr-pzpi-21-11-milennyi-ivan/Task3-WebClient/.idea
apzkr-pzpi-21-11-milennyi-ivan/Task3-WebClient/.DS_Store
apzkr-pzpi-21-11-milennyi-ivan/Task3-WebClient/*.suo
*apzkr-pzpi-21-11-milennyi-ivan/Task3-WebClient/.ntvs*
apzkr-pzpi-21-11-milennyi-ivan/Task3-WebClient/*.njsproj
apzkr-pzpi-21-11-milennyi-ivan/Task3-WebClient/*.sln
apzkr-pzpi-21-11-milennyi-ivan/Task3-WebClient/*.sw?
apzkr-pzpi-21-11-milennyi-ivan/Task3-WebClient/.vscode/
#apzkr-pzpi-21-11-milennyi-ivan/Task3-WebClient/package-lock.json
